#timeline-wrap{
    width:380px;
    margin: 0 auto;
    /* border:1px red solid; */
    text-align: center;
}

.name-genre-wrap {
    display:flex;
    justify-content: space-between;
    /* border:1px red solid; */
    /* padding-bottom:-5px; */
    padding-bottom:5px;
    
}

.title-type-wrap{
    display:flex;
    justify-content: space-between;
    margin-bottom:15px;
 
}

.content-text{
    white-space: pre-line;
}


.small-text{
    font-size:11px;
}

.post-title{
    font-size:13px;
    font-variant: small-caps;
    font-weight:bold;
}

.explore-title{
    font-size:24px;
    font-weight:bold;
    color:rgba(239, 130, 117,1);
    margin:30px 0;
}