#message {
  display: none;
}

.login-page{
  width:400px;
  margin: 0 auto;
  border:5px rgba(136, 160, 150, 1) solid;
  margin-top:20px;
  margin-bottom:40px;
  padding:25px;
  /* text-align: center; */
}

.intro {
  text-align: center;
  margin-bottom:20px;
  
}

.nav-item {
  font-family:"Oswald";
  color: rgba(239, 130, 117,1);
  font-size: 18px;
}

.login-btns {
  width: 100%;
  margin-bottom: 20px;
}

#regLogin {
  background-color:rgba(136, 160, 150, 1);
  border: 1.5px rgba(136, 160, 150, 1) solid;
  transition: .2s all linear;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

#regLogin:hover{
  border:1.5px rgba(239, 130 ,117, 1) solid;
  /* box-shadow:1px 1px 1px rgba(0,0,0,0.2); */
}

#regLogin:active{
  background-color:rgba(136, 160, 150, .8);
  box-shadow:1px 1px 1px rgba(0,0,0,0);
  top:1px;

}

#regSignUp{
  background-color:rgba(136, 160, 150, 1);
  border: 1.5px rgba(136, 160, 150, 1) solid;
  transition: .2s all linear;
  box-shadow:2px 2px 2px rgba(0,0,0,0.3);
}

#regSignUp:hover{
  border:1.5px rgba(239, 130 ,117, 1) solid;
  /* box-shadow:1px 1px 1px rgba(0,0,0,0.2); */
}

#regSignUp:active{
  background-color:rgba(136, 160, 150, .8);
  box-shadow:1px 1px 1px rgba(0,0,0,0);
  top:1px;

}

.nav-tabs{
 width:350px;
}

#welcome-msg{
  color:rgba(239, 130, 117,1);
  font-size:22px;

}

#tagline{
  font-size:12px;
  font-weight:bold;
  letter-spacing: 1px;
  color:rgba(136, 160, 150, 1);
  margin-top:-8px;
}

#about-scroll{
  margin-top:10px;
  margin-bottom:60px;
  text-align: center;
  letter-spacing:.5px;
  color:gray;
}
