#logoutBtn {
  display: none;
  background-color: white;
  float: right;
  margin-top: 10px;
  color:rgba(136, 160, 150, 1);
  border: 1px rgba(136, 160, 150, 1) solid;
  border-radius:5px;
  font-weight:bold;
  box-shadow:2px 2px 2px rgba(0,0,0,0.5);
}

#logoutBtn:hover{
  box-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

#logoutBtn:active{
 box-shadow:none;
 top:2px;
}