.pop-up{
    height:300px;
    width:400px;
    border:4px rgba(239, 130 ,117, 1) solid;
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items:center;
    /* display:none; */
    position:fixed;
    top : 100px;
    margin:0 auto;
    background-color:rgba(255,255,255,.95);
}

#text-area{
    height:100px;
    width:300px
}