.search-wrap{
    width:400px;
    margin:0 auto;
}

.search-input{
    width:200px;
}

.select{
    width:30%;
    border-radius: 0px;
}

.select-all{
    display:flex;
    justify-content: space-around;
    margin-top:20px;
    margin-bottom:40px;
    /* border:1px red solid; */
}

.search-btn-wrap{
    display:flex;
    justify-content: space-between;
    /* border: 1px red solid; */
}

.no-result{
    text-align:center;
    font-size:25px;
    color:rgba(239, 130 ,117, 1);
}