.profile-wrap{
    width:400px;
    margin:0 auto;
    text-align: center;
}

.post-title-profile{
    color:rgba(239, 130 ,117, 1);
}

.name-follow-wrap{
    display:flex;
    justify-content:space-between;
    width:370px;
    margin:0 auto;

}

.profile-name{
    color:rgba(239, 130 ,117, 1) ;
}


.follow-btn{
    border-radius:5px;
    color:rgba(136, 160, 150, 1);
    padding:8px;
    text-transform:uppercase;
    font-size:12px;
    font-weight:bold;
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    transition:.1s all linear;
    /* font-variant: small-caps; */
}

.follow-btn:hover{
    /* color:white; */
    border-color:rgba(136, 160, 150, 1);
    box-shadow:1px 1px 1px rgba(0,0,0,0.5);
}

.follow-btn:focus{
    outline:0;
}

.follow-btn:active{
    top:2px;
    box-shadow:0px 0px 0px rgba(0,0,0,0.5);
}

.profile-stats{
    display:flex;
    color:rgba(136, 160, 150, 1);
    margin:0 auto;
    margin-bottom:20px;
    justify-content: flex-start;
    width:370px;
}

.stat{
    margin-right:5px;
    margin-left:5px;
}

.followed{
    color:rgba(239, 130 ,117, .8);
}