.one-post-wrap {
    width: 400px;
    margin: 0 auto;
}


.one-post {
    border: 7px rgba(136, 160, 150, 1) solid;
    padding: 12px;
    line-height: 24px;
    font-size: 16px;
    white-space: pre-line;
}

#one-post-author {
    color: rgba(239, 130 ,117, 1);
    font-size:21px;
    font-weight:bold;
}

.one-post-comments{
    border-top:1px black solid;
    margin:40px auto;
    padding-top:10px;
}

.one-post-buttons{
    margin-top:10px;
    /* border:1px red solid; */
    width:80px;
    display:flex;
    justify-content: space-between;
}

.one-comment{
    margin:5px auto;
    border-bottom:1px black solid;
    display:flex;
    justify-content: space-between;
    padding:15px;
}

.trash-icon{
    height:30px;
    /* padding:10px; */
    text-align: center;
    border:none;
}

.like-comments-text{
    /* border:1px blue solid; */
    width:180px;
    display:flex;
    flex-direction:column;
    text-align: end;
    padding-top:10px;
}

.buttons-text-wrap{
    /* border:1px red solid; */
    display:flex;
    justify-content: space-between;
    margin-top:20px;
    padding-top:10px;
    /* border-top:1px black solid; */
}

.button-one-post{
    border:1px white solid;
    background-color:rgba(136, 160, 150, 1);
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    border-radius:10px;
    margin-right:20px;
    padding:10px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition:.2s all linear;
}

.button-one-post:hover{
    background-color: rgba(136, 160, 150, .7);
}

.button-one-post:active{
    box-shadow:1px 1px 1px rgba(0,0,0,0.2);
    top:2px;
    background-color:rgba(136, 160, 150, 1);
}

.one-post-i{
    color:white;
}

.comment-text{
    width:80%;
}

.comment-author{
    color:rgba(239, 130 ,117, 1);
    font-weight:bold;
}

.author-all{
    display:flex;
    justify-content: space-between;

}

.pagination{
    display:flex;
    /* border:1px red solid; */
    justify-content: space-between;
}

.page-num:hover{
    color:red;
    text-decoration: underline;
    cursor:pointer;
}
.icon-btn:hover{
    cursor:pointer;
}

.icon-btn:focus{
    outline:0;
}

#btn-liked{
    color:red;
    background-color:white;
    box-shadow:none;
    border:1px rgba(136, 160, 150, 1) solid;
}

#icon-liked{
    color:red;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(255,255,255,.9);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: center;
    border-radius:10px;
}

.post-menu-ul{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding:20px;
}

.myDropdown{
    display:flex;
    justify-content: center;
}

.post-menu-li{
    margin-top:10px;
    margin-bottom:10px;
    text-align: center;
    margin-top: 10px;
    color:rgba(136, 160, 150, 1);
    transition: .2s all linear;
}

.post-menu-li:hover{
    padding-bottom:3px;
    cursor:pointer;
    border-bottom:1px rgba(136, 160, 150, 1) solid;
}

.post-menu-li:active{
    color:rgba(239, 130 ,117, 1);
    text-decoration: none;
}

#liked{
    color:rgba(239, 130 ,117, 1);
    background-color:white;
    cursor:auto;
}

.liked{
    border:1px rgba(136, 160, 150, 1) solid;
    background-color:white;
    box-shadow:2px 2px 2px rgba(0,0,0,0.5);
    border-radius:10px;
    margin-right:20px;
    padding:10px;
    display:flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    transition:.2s all linear;
}

.liked:hover{
    cursor:auto;
}