.one-post-wrap {
    width: 400px;
    margin: 0 auto;
}


.one-post {
    border: 7px rgba(136, 160, 150, 1) solid;
    padding: 12px;
    line-height: 24px;
    font-size: 16px;

}

#one-post-author {
    color: rgba(239, 130 ,117, 1);
    font-size:21px;
    font-weight:bold;
}

.one-post-comments{
    border-top:1px black solid;
    margin:40px auto;
    padding-top:10px;
}

.one-post-buttons{
    margin-top:10px;
    /* border:1px red solid; */
    width:80px;
    display:flex;
    justify-content: space-between;
}

.one-comment{
    margin:5px auto;
    border-bottom:1px black solid;
    display:flex;
    justify-content: space-between;
    padding:15px;
}

.trash-icon{
    height:30px;
    /* padding:10px; */
    text-align: center;
    border:none;
}

.like-comments-text{
    /* border:1px blue solid; */
    width:180px;
    display:flex;
    flex-direction:column;
    text-align: end;
    padding-top:10px;
}

.buttons-text-wrap{
    /* border:1px red solid; */
    display:flex;
    justify-content: space-between
}

.button-one-post{
    border:none;
}

.comment-text{
    width:80%;
}

.comment-author{
    color:rgba(239, 130 ,117, 1);
    font-weight:bold;
}

