#timeline-wrap{
    width:380px;
    margin: 0 auto;
    /* border:1px red solid; */
    text-align: center;
}

.owner-name{
    font-weight:bold;
    font-size:28px;
    color:rgba(239, 130 ,117, 1);    
}

